<style>
    section {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(237, 234, 222);
    }

    form {
        background-color: whitesmoke;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 2rem 0rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    form div {
        display: flex;
        flex-direction: column;
        padding: 0rem 3rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: start;
        color: gray;

    }

    button {
        text-align: center;
        width: 100%;
        padding: .5rem 1rem;
        cursor: pointer;
    }

    form input {
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        outline: none;
        color: gray;
    }

    hr {
        width: 100%;
    }
</style>



<section>
<form method="POST" action="">
    {% csrf_token %}
    <h3>Login</h3>
    <hr>
    <div>
        <input type="text" name="username" id="username" placeholder="username">
    </div>
    <div>
        <input type="password" name="password" id="password" placeholder="password">
    </div>
    <div>
        <a href=""><button>Login</button></a>
    </div>
</form>
</section>
